.logo {
  display: none;
  @include media-breakpoint-up(sm) {
    display: block;
  }
  img {
    max-width: unset;
  }
  a {
    display: block;
    font-size: 24px;
    font-weight: 700;
    color: #324D6C;
    text-decoration: none;
    font-family: $font-family-heading;
    &:hover {
      color: darken(#324D6C, 10%);
    }
  }
}
.logo-mobile {
  display: block;
  padding: 10px 0 10px 0;
  @include media-breakpoint-up(sm) {
    display: none;
  }
  img {
    width: 100%;
    height: auto;
  }
  a {
    display: block;
    font-size: 20px;
    font-weight: 700;
    color: #324D6C;
    text-decoration: none;
    font-family: $font-family-heading;
  }
}